section.clients
  .container
    ul.clients__list
      li.clients__item
        img(
          src="../img/company/logo_htmlacademy2.svg"
          alt="htmlacademy"
          width="199"
          height="57.16"
        )
      li.clients__item
        img(
          src="../img/company/logo-22.png"
          srcset="../img/company/logo-22@2x.png 2x"
          alt="htmlacademy"
          width="209"
          height="90"
        )
      li.clients__item
        img(
          src="../img/company/logo-32.png"
          srcset="../img/company/logo-32@2x.png 2x"
          alt="htmlacademy"
          width="185"
          height="52"
        )
      li.clients__item
        img(
          src="../img/company/logo-42.png"
          srcset="../img/company/logo-42@2x.png 2x"
          alt="htmlacademy"
          width="173"
          height="84"
        )
