
mixin categorie(data={})
  .categories__item
    img.categories__pic(src=data.src, srcset=data.srcset, alt=data.title)
    h2.categories__title=data.title
    p.categories__text=data.text
    a.btn.categories__btn(class=data.iconClass) Заказать

